altgraph==0.17.4
bcrypt==4.2.1
bidict==0.23.1
blinker==1.8.2
Brotli==1.1.0
cachetools==5.5.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
cryptography==44.0.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.1.1
ffmpeg-python==0.2.0
Flask==2.3.3
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
fonttools==4.57.0
fpdf==1.7.2
future==1.0.0
google-api-core==2.24.2
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.69.2
gspread==5.10.0
h11==0.14.0
httplib2==0.22.0
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
imgurpython==1.1.7
instaloader==4.14
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
kiwisolver==1.4.8
lxml==5.3.0
MarkupSafe==3.0.2
matplotlib==3.7.2
moviepy==2.1.1
mutagen==1.47.0
numpy==2.1.2
oauthlib==3.2.2
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.3
pdfminer.six==20231228
pdfplumber==0.11.5
pefile==2023.2.7
Pillow==10.0.0
proglog==0.1.10
proto-plus==1.26.1
protobuf==6.30.2
psutil==6.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodomex==3.21.0
pydub==0.25.1
pygame==2.6.1
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyJWT==2.10.1
PyMuPDF==1.25.2
PyOpenGL==3.1.7
pyparsing==3.0.9
pypdfium2==4.30.1
pypng==0.20220715.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.0
python-engineio==4.10.1
python-socketio==5.11.4
pytz==2025.1
pywin32-ctypes==0.2.3
pyzbar==0.1.9
qrcode==7.4.2
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
simple-websocket==1.1.0
six==1.17.0
tk==0.1.0
tqdm==4.67.1
ttkbootstrap==1.10.1
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==1.26.20
websockets==13.1
Werkzeug==2.3.7
wsproto==1.2.0
yt-dlp==2024.10.7
gunicorn
